body {
    margin: 0;
    padding: 0;
    background: url(../images/background.jpg);
    background-size: cover;
    font-weight: bold;
    font-family: sans-serif;
    color: white;
}

.upload-title {
    display: flex;
    justify-content: center;
}