.header {
    display: flex;
    justify-content: left;
    padding: 10px;
}

.container-page {
}

.content {
    display: flex;
    flex-direction: column;
}

.classes {
    width: 900px;
    float: left;
    /* border: 3px solid white; */
    /* background-color: rgba(255, 94, 0, 0.226); */
}

.join-classes,
.create-classes {
    display: flex;
    align-items: center;
    flex-direction: column;
    background: linear-gradient(to bottom right, var(--color-primary), var(--color-primary-variant));
    padding: 1rem;
    width: 20rem;
    border-radius: 20px;
    margin-left: auto; 
    margin-right: 2rem;
}

.footer {
    clear: both;
}

input[type=text].class-input {
    padding: 6px;
    margin-top: 1rem;
    font-size: 17px;
    border: none;
    width: 12rem;
    border-radius: 10px;
}

.class-dropdown {
    width: 12rem;
    margin-top: 1rem;
    padding: 0.5rem;
    border-radius: 10px;
}

.btn-create-class {
    padding: 0.5rem;
    margin-top: 1.5rem;
    margin-bottom: 10px;
    background: var(--color-primary);
    color: #fff;
    font-size: 17px;
    border: none;
    cursor: pointer;
    width: 150px;
}

.no-classes {
    margin-left: 1rem;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 20px;
    color: white;
}

table, th {
    border-color: rgb(255, 94, 0);
    background-color: rgb(255, 94, 0, 0.1);
}

table, td {
    border-color: grey;
    background-color: rgba(128, 128, 128, 0.1);
    font-weight: 5px;
}