.welcome-text {
    display: flex;
    justify-content: center;
}

.accomplish-text {
    display: flex;
    justify-content: center;
}

.row {
    display: flex;
    justify-content: center;
}

.view-classes-button {
    
}

.view-classes-image {
    width: 400px;
}

.browse-notes-button {
    
}

.browse-notes-image {
    width: 400px;
}

.ask-question-button {
    
}

.ask-question-image {
    width: 400px;
}