.welcome-text {
    display: flex;
    justify-content: center;
}

.accomplish-text {
    display: flex;
    justify-content: center;
}

.row {
    display: flex;
    justify-content: center;
}

.btn-task {
    border: none;
    background: linear-gradient(to bottom right, var(--color-primary), var(--color-primary-variant));
    border-radius: 20px;
    margin: 1rem;
    padding: 2rem;
}

.btn-task:hover {
    background: var(--color-light);
}

.task-image {
    width: 300px;
}

@media screen and (max-width: 1188px) {
    .btn-task {
        display: flex;
    }
}