.navbar {
  height: 5rem;
}

.title {
  float: left;
  font-size: 30pt;
  margin-left: 1rem;
  margin-right: 2rem;
  margin-top: 1rem;
}

.pages {
  display: grid;
  grid-template-columns: repeat(4, 6rem);
  float: left;
  width: 2rem;
  color: rgb(255, 255, 255);
  text-align: center;
  padding: 2px 0px;
  text-decoration: none;
  font-size: 16px;
  margin-top: 2rem;
}

.pages a.active {
  box-shadow: 0 0 0 0.2px var(--color-primary);
  outline: none;
  border-radius: 10px;
}

nav .container {
  float: right;
  width: auto;
  margin-right: 2rem;
  margin-top: 2rem;
}

nav input[type=text], nav input[type=password] {
  padding: 6px;
  margin-top: 8px;
  margin-left: 10px;
  font-size: 17px;
  border: none;
  width: 150px;
}

.container button {
  float: right;
  padding: 6px;
  margin-top: 8px;
  margin-right: 16px;
  margin-left: 10px;
  background: rgb(255, 94, 0);
  color: #fff;
  font-size: 17px;
  border: none;
  cursor: pointer;
}

.container button:hover {
  background: rgb(78, 29, 0);
}