.register-title {
    display: flex;
    justify-content: center;
    padding: 10px;
}

.form {
    display: flex;
    justify-content: center;
}

.form-box {
    width: 500px;
    border: 3px solid white;
    background-color: rgba(255, 94, 0, 0.226);
    padding: 10px;
}

.input-box {
    padding: 6px;
    margin-top: 20px;
    margin-left: 10px;
    font-size: 17px;
    border: none;
    width: 250px;
}

.password-box {
    padding: 6px;
    margin-top: 20px;
    margin-left: 10px;
    font-size: 17px;
    border: none;
    width: 250px;
}

.register-button {
    display: flex;
    padding: 6px;
    margin-left: 10px;
    margin-top: 20px;
    margin-bottom: 10px;
    background: rgb(255, 94, 0);
    color: #fff;
    font-size: 17px;
    border: none;
    cursor: pointer;
    width: 150px;
}

.register-button:hover {
    background: rgb(78, 29, 0);
}

.user-type {
    padding: 6px;
}

.student-type {
    font-style: italic;
    padding: 6px;
}

.student-type-button {
    padding: 6px;
    margin-right: 20px;
}

.instructor-type {
    font-style: italic;
    padding: 6px;
    margin-left: 20px;
}

.instructor-type-button {
    padding: 6px;
}

.show-password {
    padding: 6px;
    margin: 10px;
}

.google-profile {
    border: 3px solid var(--color-primary);
    border-radius: 10px;
    padding: 1rem;
    text-align: center;
    margin: auto;
    width: 50%;
}

.google-logout-button {
    padding: 0.5rem 2rem;
    background: var(--color-primary);
    color: var(--color-white);
    border-radius: 10px;
    font-weight: bold;
}

.google-signin-button {
    display: block;
    margin: 0 auto;
    padding: 0.5rem 2rem;
    background: var(--color-primary);
    color: var(--color-white);
    border-radius: 10px;
    font-weight: bold;
}