body {
    margin: 0;
    padding: 0;
    background: url(../images/background.jpg);
    background-size: cover;
    font-weight: bold;
    font-family: sans-serif;
    color: white;
}

.upload-title {
    display: flex;
    justify-content: center;
}

.testButton {
    display: flex;
    justify-content: left;
}

.submit-button {
    padding: 10px;
    margin-left: 15px;
    margin-top: 50px;
    background: rgb(255, 94, 0);
    color: #fff;
    font-size: 17px;
    border: none;
    cursor: pointer;
}

.submit-button:hover {
    background: rgb(78, 29, 0);
}